{{- define "counter" -}}
<div class="mt-2 text-xl">
  Counter:
  {{template "button" .incrBtn}} {{template "button" .decrBtn}} : <span id="counterStatus"></span>
</div>
<script type="module">
  import { get, set, update, clear} from 'https://cdn.jsdelivr.net/npm/idb-keyval@6/+esm';

  showCounter();

  let incrBtn = document.getElementById("incrBtn");
  incrBtn.onclick=incrCounter;

  let decrBtn = document.getElementById("decrBtn");
  decrBtn.onclick=decrCounter;

  function showCounter() {
    const counterStatus = document.getElementById('counterStatus');
    get('counter').then((val) => { counterStatus.innerHTML=val });
  }

  function incrCounter(){
    update('counter',(val)=>(val||0)+1);
    showCounter();
  }

  function decrCounter(){
    update('counter',(val)=>(val||0)-1);
    showCounter();
  }


</script>
{{- end -}}
