{{- define "counter" -}}
<div class="mt-2 text-xl">
  Counter:
  {{template "button" .decrBtn}} {{template "button" .incrBtn}} : <span id="counterStatus"></span>
  <span class="text-sm">note: this is stored in the browser's indexedDB.<span>
</div>
<script type="module">
  import { set, get, update } from 'https://cdn.jsdelivr.net/npm/idb-keyval@6/+esm';
  initCounter();

  let incrBtn = document.getElementById("incrBtn");
  incrBtn.onclick=incrCounter;

  let decrBtn = document.getElementById("decrBtn");
  decrBtn.onclick=decrCounter;

  function showCounter() {
    const counterStatus = document.getElementById('counterStatus');
    get('counter').then((val) => { counterStatus.innerHTML=val });
  }

  function incrCounter(){
    update('counter',(val)=>(val||0)+1);
    showCounter();
  }

  function decrCounter(){
    update('counter',(val)=>(val||0)-1);
    showCounter();
  }
  function initCounter(){
    update('counter',(val)=>val?val:0);
    showCounter();
  }


</script>
{{- end -}}
